<mat-card align="center">
    <mat-card-title>
        <h1><mat-icon>person_outline</mat-icon>
            Fichas de personas</h1>
    </mat-card-title>
    <p *ngIf="personaData.length <= 0" class="no-data">No hay ninguna persona en la lista!
        <mat-card-actions>
            <button mat-raised-button color="primary" [routerLink]="['/add']">
                <mat-icon>person_add</mat-icon>
                Agregar
            </button>
        </mat-card-actions>
    </p>
    <div class="container" *ngIf="personaData.length > 0">
    <mat-card-content>
        <table mat-table [dataSource]="personaData" width="100%" border="0" cellspacing="0" cellpadding="0" >
            <ng-container matColumnDef="dni">
                <th mat-header-cell *matHeaderCellDef>DNI</th>
                <td mat-cell *matCellDef="let element">{{element.dni}}</td>
            </ng-container>
            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef>Nombre</th>
                <td mat-cell *matCellDef="let element">{{element.nombre}}</td>
            </ng-container>
            <ng-container matColumnDef="apellidos">
                <th mat-header-cell *matHeaderCellDef>Apellidos</th>
                <td mat-cell *matCellDef="let element">{{element.apellidos}}</td>
            </ng-container>
            <ng-container matColumnDef="opciones">
                <th mat-header-cell *matHeaderCellDef>Opciones</th>
                <td mat-cell *matCellDef="let element; let i = index;">
                    <button style="margin:5px;" mat-raised-button color="primary" (click)="deletePersona(i, element)">
                        <mat-icon>delete</mat-icon>
                    </button>
                    <button style="margin:5px;" mat-raised-button color="primary" [routerLink]="['/edit/', element._id]">
                        <mat-icon>edit</mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" [routerLink]="['/add']">
            <mat-icon>person_add</mat-icon>
            Agregar
        </button>
    </mat-card-actions>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
</mat-card>
